html,
body {
    position: fixed;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.complete-div {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.header-div {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 9pt;
    padding: 5px;
    margin: 5px;
    text-align: center;
    background-color: rgb(52, 138, 213);
    color: white;
}